---
- name: "Enable uv cache prune systemd timer"
  become: true
  become_user: "{{ item.username }}"
  when: uv_cache_prune_time != "never"
  block:
    - name: Create systemd user directory
      ansible.builtin.file:
        path: "~/.config/systemd/user/"
        state: directory
        mode: u=rwx,g=rx,o=rx

    - name: Add uv cache prune service
      ansible.builtin.template:
        src: uv-cache-prune.service
        dest: "~/.config/systemd/user/uv-cache-prune.service"
        mode: u=rw,g=r,o=r
      register: _service_file

    - name: Add uv cache prune systemd timer
      ansible.builtin.template:
        src: uv-cache-prune.timer
        dest: "~/.config/systemd/user/uv-cache-prune.timer"
        mode: u=rw,g=r,o=r
      register: _timer_file

    - name: Start and enable uv cache prune systemd timer
      ansible.builtin.systemd:
        name: uv-cache-prune.timer
        daemon_reload: >-
          {{ true if _service_file is changed or _timer_file is changed else false }}
        scope: user
        state: started
        enabled: true

- name: "Disable uv cache prune systemd timer"
  when: uv_cache_prune_time == "never"
  block:
    - name: Remove uv cache prune service and timer
      ansible.builtin.file:
        path: "/etc/systemd/system/{{ item }}"
        state: "absent"
      loop:
        - "uv-cache-prune.service"
        - "uv-cache-prune.timer"
      register: _remove_files

    - name: Disable uv cache prune systemd timer
      ansible.builtin.command:
        cmd: systemctl --user disable uv-cache-prune.timer
      register: _systemctl_disable
      changed_when: "'removed' in _systemctl_disable.stderr | lower"
      when: _remove_files is changed
